
mat-sidenav {
    width: 280px;
    border: 0;
    background-color: #FFFFFF;
    padding: 32px 16px;
}

mat-toolbar {
    padding: 15.5px 32px;
    height: 87px;
    background-color: #FFFFFF;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.notification-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.notification-button{
    margin-left: 17px;
}

.vertical-separator {
    width: 0;
    height: 56px;
    border: solid;    
    border-color: #C9C9C9;
    border-width: 1px;
    margin: 0 17px;
}

.sidebar-section {
    margin-bottom: 45px;
}