<mat-sidenav-container>
    <mat-sidenav mode="side" opened #sidenav>

        <img src="Loogoo.png" alt="SredIo logo" class="sidebar-section"/>

        <app-user-profile class="sidebar-section"></app-user-profile>
        <mat-list>
            <div mat-subheader>GENERAL</div>
              <mat-list-item>
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Overview</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Navigation 02</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Navigation 03</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Navigation 04</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Navigation 06</div>
              </mat-list-item>
              
            <div mat-subheader>TOOLS</div>
              <mat-list-item>
                <mat-icon matListItemIcon>settings_outlined</mat-icon>
                <div matListItemTitle>Account & Settings</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>settings_outlined</mat-icon>
                <div matListItemTitle>Help</div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon>dark_mode</mat-icon>
                <div >Dark Mode</div>
                <mat-slide-toggle matSuffix></mat-slide-toggle>
              </mat-list-item>
          </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button aria-label="toggle side nav" (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-form-field class="search-field" appearance="outline" subscriptSizing="dynamic">
                <input matInput placeholder="Search">
            </mat-form-field>
            
            <span class="toolbar-spacer"></span>
            <app-toolbar-icon icon="mail_outlined" [badge]="2"></app-toolbar-icon>
            <app-toolbar-icon icon="notifications_outlined" [badge]="8"></app-toolbar-icon>
            
            <mat-divider [vertical]="true"></mat-divider>


            <sred-date-range-picker></sred-date-range-picker>


          </mat-toolbar>

          <div class="main-page-container">
            <router-outlet />
          </div>
    </mat-sidenav-content>
</mat-sidenav-container>