<mat-grid-list cols="1" gutterSize="0" rowHeight="337">
    <mat-grid-tile colspan="1">
        <mat-card appearance="outlined" class="child-card">
            <mat-card-content>
                <div fxLayout="column" fxFlexFill  class="chart-wrapper">
                    <ag-charts [options]="chartOptions"
                        style="width: 100%; height: 100%;"
                        class="chart-container">
                    </ag-charts>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>