<mat-card appearance="outlined" class="dashboard-section">
    <mat-card-header>
        <mat-card-title>
            Employee's Summary
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        
        <div style="display: flex; flex-direction: column; height: 400px;">
            <div class="filter-section">
                <mat-form-field class="search-field" appearance="outline" subscriptSizing="dynamic">
                    <input matInput placeholder="Search">
                </mat-form-field>
                <span class="spacer"></span>
                <button mat-stroked-button>
                    <mat-icon>filter_list</mat-icon>Filter
                </button>
                <button mat-stroked-button>
                    <mat-icon>download</mat-icon>Export
                </button>
            </div>
            
            <ag-grid-angular
                style="width: 100%; height: 100%;"
                class="ag-theme-quartz"
                [rowData]="rowData"
                [columnDefs]="colDefs"
                [defaultColDef]="defaultColDef"
            />
        </div>
                
    </mat-card-content>
</mat-card>