<h2 mat-dialog-title>Delete Project</h2>
<mat-dialog-content>
  <mat-card appearance="outlined" class="alert-card mx-2 mb-2" *ngIf="saveStatus?.status === 'error'">
    <mat-card-content>{{ saveStatus?.error }}</mat-card-content>
  </mat-card>
  <span>Confirm delete</span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button  mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial color="error" (click)="submit()">
    <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
    <strong *ngIf="!loading">Confirm</strong>
  </button>
</mat-dialog-actions>
