.custom-form-field {
    width: 100%;
    height: 40px; 
    --mdc-outlined-text-field-focus-outline-color: #1A71F6;
    --mdc-outlined-text-field-hover-outline-color: #1A71F6;
    --mdc-outlined-text-field-outline-color: #D1D1D1;
    --mdc-outlined-text-field-container-shape: 8px;
    --mat-form-field-container-height: 30px;
    --mat-form-field-container-vertical-padding: 4px;
    --mdc-outlined-text-field-input-text-placeholder-color: #949494;
    --mdc-outlined-text-field-input-text-color: #949494;
    --mdc-outlined-text-field-label-text-color: #949494;
    --mdc-outlined-text-field-label-text-size: 14px;
    --mat-form-field-container-text-size: 14px;
  }

  .custom-form-field .mat-mdc-form-field-flex {
    height: 100%;
  }

  .custom-form-field .mat-mdc-text-field-wrapper {
    height: 100% !important;
  }