.app-toolbar-Action {
    height: 36px;
    width: 36px;
    padding: 6px;
    background-color: #EEF7FF;
    --mat-toolbar-container-text-color: #454545;
    border:none;
    border-radius: 9px;
    cursor: pointer;
}

.app-toolbar-Action-Icon {
    height: 18px;
    height: 22px;
}

.app-toolbar-Action-Icon::ng-deep { 
    --mat-badge-background-color: #EA3030;
    --mat-badge-container-shape: 2px;
}