<div class="header">
    <div class="main-header">
        <div class="greeting">
            <span class="semibold-heading-5">
                Welcome Back, John Doe!
            </span>
            <button mat-raised-button disabled class="medium-text-sm">{{ currentFiscalPeriod?.startDate | date }} - {{ currentFiscalPeriod?.endDate | date }} </button>
        </div>
        <span class="spacer"></span>
        <button mat-button class="btn-primary icon-only" (click)="refreshEventService.triggerRefresh(undefined)">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div clas="sub-header">
        <span>Active Integrations:</span>
        <button  class="pill">
            JIRA
        </button>
        <button class="pill">
            Click Up
        </button>
        <button class="pill">
            AZURE
        </button>
    </div>
</div>
