<div class="flex flex-row mb-10">
    <div>
        <span class="semibold-heading-5">
            Test Client
        </span>
    </div>
    <span class="spacer"></span>
    <button mat-flat-button class="mr-1" (click)="openDialog()">
        Create
        <mat-icon>add</mat-icon>
    </button>
    <button mat-stroked-button (click)="openUploadDialog()">
        Upload CSV
        <mat-icon>publish</mat-icon>
    </button>
</div>
<div class="flex flex-col">
    <ag-grid-angular
        class="ag-theme-quartz table"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        rowClass="table-row"
    />
</div>