<div class="flex flex-row mb-10">
    <div>
        <span class="semibold-heading-5">
            Test Client
        </span>
    </div>
    <span class="spacer"></span>
    <button mat-flat-button class="mr-1" (click)="onCreate()">
        <span class="hidden sm:block">Create</span>
        <mat-icon>add</mat-icon>
    </button>
    <button mat-stroked-button (click)="openUploadDialog()">
      <span class="hidden sm:block">Upload CSV</span>

        <mat-icon>publish</mat-icon>
    </button>
</div>
<div class="flex flex-col table-container">
    <ag-grid-angular
        class="ag-theme-quartz table"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)"
        [loading] = "gridLoading"
        rowClass="table-row"
        enableAdvancedFilter
    />
</div>
