<mat-sidenav-container class="sred-mat-sidenav-container">
    <mat-sidenav [mode]="sideNavMode()" opened #sidenav class="sred-mat-sidenav">

        <img src="Loogoo.png" alt="SredIo logo" class="sidebar-section"/>

        <app-user-profile class="sidebar-section"></app-user-profile>
        <mat-list class="sred-mat-sidenav-menu-list">
            <div mat-subheader>GENERAL</div>
              <mat-list-item class="sred-sidenav-menu-item text-sm sred-sidenav-menu-item-active">
                <mat-icon matListItemIcon svgIcon="home_outlined"></mat-icon>
                <div matListItemTitle>Overview</div>
              </mat-list-item>
              <mat-list-item class="sred-sidenav-menu-item text-sm">
                <mat-icon matListItemIcon svgIcon="store_outlined"></mat-icon>
                <div matListItemTitle>Navigation 02</div>
              </mat-list-item>
              <mat-list-item class="sred-sidenav-menu-item text-sm">
                <mat-icon matListItemIcon svgIcon="paper"></mat-icon>
                <div matListItemTitle>Navigation 03</div>
              </mat-list-item>
              <mat-list-item class="sred-sidenav-menu-item text-sm">
                <mat-icon matListItemIcon svgIcon="user_group_outlined">group</mat-icon>
                <div matListItemTitle>Navigation 04</div>
              </mat-list-item>
              <mat-list-item class="sred-sidenav-menu-item text-sm">
                <mat-icon matListItemIcon svgIcon="line_chart"></mat-icon>
                <div matListItemTitle>Navigation 06</div>
              </mat-list-item>
              
            <div mat-subheader>TOOLS</div>
              <mat-list-item class="sred-sidenav-menu-item text-sm">
                <mat-icon matListItemIcon svgIcon="setting"></mat-icon>
                <div matListItemTitle>Account & Settings</div>
              </mat-list-item>
              <mat-list-item class="sred-sidenav-menu-item text-sm">
                <mat-icon matListItemIcon svgIcon="help"></mat-icon>
                <div matListItemTitle>Help</div>
              </mat-list-item>
              <mat-list-item class="sred-sidenav-menu-item text-sm">
                <mat-icon matListItemIcon svgIcon="dark_mode_outlined"></mat-icon>
                <span >Dark Mode</span>
                <mat-slide-toggle hideIcon class="sred-sidenav-menu-item-toggle"></mat-slide-toggle>
              </mat-list-item>
          </mat-list>

          <mat-card appearance="outlined" class="sred-help-mat-card">
            <mat-card-content class="sred-help-mat-card-content">
                <div class="heading-6">Need Assistance?</div>
                <p>For Report, Support or Suggestions, Please reach out to <a> {{"success@sred.io"}}</a></p>
            </mat-card-content>
          </mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="sred-mat-toolbar">
          <mat-toolbar-row class="sred-mat-toolbar-row">
            <button mat-icon-button aria-label="toggle side nav" (click)="sidenav.toggle()">
              <mat-icon svgIcon="panel-close"></mat-icon>
            </button>
            <app-search-input class="sred-mat-toolbar-search-input" *ngIf="!isSmallViewPort()"></app-search-input>
            
            <span class="spacer"></span>
            <app-toolbar-icon icon="search" class="sred-mat-toolbar-notification-spacing" [ngClass]="showSearchInput ? 'active' : ''"
              *ngIf="isSmallViewPort()" (clicked)="onShowSearchInput()">
            </app-toolbar-icon>
            <app-toolbar-icon svgIcon="mail_outlined" [badge]="2" class="sred-mat-toolbar-notification-spacing"></app-toolbar-icon>
            <app-toolbar-icon svgIcon="notifications_outlined" [badge]="8" class="sred-mat-toolbar-notification-spacing"></app-toolbar-icon>
            <app-toolbar-icon icon="calendar_today" class="sred-mat-toolbar-notification-spacing" [ngClass]="showDateRangePicker ? 'active' : ''" 
            *ngIf="isSmallViewPort()" (clicked)="onShowDateRangePicker()"></app-toolbar-icon>
            <mat-divider [vertical]="true"></mat-divider>
            <sred-date-range-picker *ngIf="!isSmallViewPort()"></sred-date-range-picker>
          </mat-toolbar-row>
          <mat-toolbar-row class="sred-mat-toolbar-row" *ngIf="isSmallViewPort() && (showSearchInput || showDateRangePicker)">
            <app-search-input *ngIf="showSearchInput" class="fill-available"></app-search-input>
            <sred-date-range-picker *ngIf="showDateRangePicker" class="fill-available"></sred-date-range-picker>

          </mat-toolbar-row>

          </mat-toolbar>

          <div class="main-page-container">
            <router-outlet />
          </div>
    </mat-sidenav-content>
</mat-sidenav-container>