.status-detail{
    margin-top: 8px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.movement {
    border-width: 0;
    border-radius: 4px;
    height: 25px;
}
.movement>mat-icon{
    height: auto;
}
.movement.positive {
    background-color: #E9F8EE; 
    color: #53AF57;
}
.movement.negative {
    background-color: #F8E9E9; 
    color: #B14040;
}

.timesheet-card {
    height: 94px;
    padding: 16px;
}