<mat-card appearance="outlined" class="child-card timesheet-card">
    <mat-card-subtitle>
        {{ data.title }}
    </mat-card-subtitle>
    <mat-card-content class="status-detail">
        <span class="text-lg">{{ data.value }}</span> 
        <span class="spacer"></span>
        <!-- <mat-basic-chip class="text-xs-bold" [ngClass]="data.status >= 0 ? 'positive-status' : 'negative-status'">
            <mat-icon inline *ngIf="data.status >= 0">arrow_upward</mat-icon>
            <mat-icon inline *ngIf="data.status < 0">arrow_downward</mat-icon>
            {{ data.percentage }}%
        </mat-basic-chip> -->
        <button mat-button class="movement" [ngClass]="data.status >= 0 ? 'positive' : 'negative'">
            <mat-icon inline *ngIf="data.status >= 0">arrow_upward</mat-icon>
            <mat-icon inline *ngIf="data.status < 0">arrow_downward</mat-icon>
            {{ data.percentage }}%
        </button>
    </mat-card-content>
</mat-card>