<header></header>

<dashboard-section-container title="Overall Hours">
    <dashboard-overall-hours></dashboard-overall-hours>
</dashboard-section-container>
<dashboard-section-container title="Timesheet Summary">
    <dashboard-timesheet-summary></dashboard-timesheet-summary>
</dashboard-section-container>
<dashboard-section-container title="Project Hours">
    <dashboard-project-hours></dashboard-project-hours>
</dashboard-section-container>
<dashboard-section-container title="Employee's Summary">
    <dashboard-employee-summary></dashboard-employee-summary>
</dashboard-section-container>
<dashboard-section-container title="SR & ED Summary">
    <desktop-sred-summary></desktop-sred-summary>
</dashboard-section-container>