@import 'ag-grid-community/styles/ag-grid.css';

@import 'ag-grid-community/styles/ag-theme-quartz.css';

:root {
    --mdc-outlined-button-container-shape : 8px;
    --mdc-text-button-container-shape : 8px;
    --mdc-outlined-button-outline-color: #D1D1D1;
}

html, body { height: 100%; }


body { 
    margin: 0; font-family: Roboto, "Manrope", sans-serif; background: #F7F9FB;
    
}

.spacer {
    flex: 1 1 auto;
}

.semibold-heading-5 {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 28px;
    line-height: normal;
}

.medium-text-sm {
    font-family: 'Manrope';
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

.text-lg {
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0%;
}

.text-sm {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
}


.heading-6 {
    font-weight: 900px;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0%;
}

.text-xs-bold {
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.main-page-container {
    padding: 32px;
}

.chart-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.chart-container {
    flex: 1;
    width: 100%;
    height: 100%;
}
.child-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FBFBFB !important;
    border-color: #E3E3E3 !important;
}
.child-card>mat-card-content{
    height: 100%;
    width: 100%;
}

.filter-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.btn-default {
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
}

.btn-primary {
    background-color: #091836 !important;
    color: #ffffff !important;
}