@import 'ag-grid-community/styles/ag-grid.css';

@import 'ag-grid-community/styles/ag-theme-quartz.css';
html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Manrope", sans-serif; background: #F7F9FB;
    --mdc-outlined-card-container-color: #fff;
}

.spacer {
    flex: 1 1 auto;
}

.semibold-heading-5 {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 28px;
    line-height: normal;
}

.medium-text-sm {
    font-family: 'Manrope';
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

.text-lg {
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0%;
}

.text-sm {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
}

.text-xs-bold {
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.main-page-container {
    padding: 32px;
}

.chart-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.chart-container {
    flex: 1;
    width: 100%;
    height: 100%;
}
.child-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.dashboard-section {
    margin-bottom: 24px;
}
.filter-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}