@import './styles/themes.scss';
@import './styles/tailwindOut.css';
@import 'ag-grid-community/styles/ag-grid.css';

@import 'ag-grid-community/styles/ag-theme-quartz.css';

:root {
    --mdc-outlined-button-container-shape : 8px;
    --mdc-text-button-container-shape : 8px;
    --mdc-outlined-button-outline-color: #D1D1D1;
    --mat-datepicker-calendar-container-background-color: #FFFFFF;


    ///input field styles
    --mdc-outlined-text-field-focus-outline-color: #1A71F6;
    --mdc-outlined-text-field-hover-outline-color: #1A71F6;
    --mdc-outlined-text-field-outline-color: #D1D1D1;
    --mat-form-field-container-vertical-padding: 16px;
    --mat-form-field-filled-with-label-container-padding-top: 16px;
    --mat-form-field-filled-with-label-container-padding-bottom: 16px;
    --mdc-outlined-text-field-input-text-placeholder-color: #949494;
    --mdc-outlined-text-field-input-text-color: #949494;
    --mdc-outlined-text-field-label-text-color: #949494;
    --mdc-outlined-text-field-label-text-size: 14px;
    --mat-form-field-container-text-size: 14px;

    /// slide toggle styles
    --mdc-switch-unselected-handle-color: #FFFFFF;
    --mat-switch-unselected-handle-size: 30px;
    --mat-switch-selected-handle-size: 30px;
    --mdc-switch-track-height: 34px;
    --mdc-switch-track-width: 57px;
    --mat-switch-track-outline-width: 0px;
    --mat-switch-track-outline-width: 0px;
    --mat-switch-unselected-handle-horizontal-margin: 0 3px;
    --mdc-switch-unselected-hover-handle-color: #F7F9FB !important;
    --mdc-switch-unselected-focus-handle-color: #F7F9FB !important;
    --mdc-switch-unselected-track-color: #D0D5DD;
    --mdc-switch-unselected-focus-track-color: #dee2f4;
}

html, body { height: 100%; }


body { 
    margin: 0; font-family: Roboto, "Manrope", sans-serif; 
    // background: #F7F9FB;
    
}

.spacer {
    flex: 1 1 auto;
}

.semibold-heading-5 {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 28px;
    line-height: normal;
}

.medium-text-sm {
    font-family: 'Manrope';
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}

.text-lg {
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0%;
}

.text-sm {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
}


.heading-6 {
    font-weight: 900px;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0%;
}

.text-xs-bold {
    font-family: 'Plus Jakarta Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.main-page-container {
    padding: 32px;
}

.chart-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.chart-container {
    flex: 1;
    width: 100%;
    height: 100%;
}
.child-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FBFBFB !important;
    border-color: #E3E3E3 !important;
}
.child-card>mat-card-content{
    height: 100%;
    width: 100%;
}

.filter-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.btn-default {
    color: #000000 !important;
    font-size: 12px;
    font-weight: bold;
}

.btn-primary {
    background-color: #091836 !important;
    color: #ffffff !important;
}

.icon-only {
    --mat-text-button-icon-spacing: 0px;
    --mat-text-button-icon-offset: 0px;
}

.fill-available {
    height: 100%; 
    width: 100%;
}



////////////////////////////////////////
/// 
/// 
////////////////////////////////////////


.sred-mat-sidenav-container {
    --mat-sidenav-container-width: 280px;
    --mat-sidenav-container-background-color: #FFFFFF;
    --mat-sidenav-content-background-color: #F7F9FB;
}

.sred-mat-sidenav {
    padding: 32px 16px;
}

.sred-mat-sidenav-menu-list {
    margin-bottom: 45px !important;
}

.sred-sidenav-menu-item {
    --mdc-list-list-item-one-line-container-height: 40px;
    --mdc-list-list-item-container-shape: 12px;
    width: 248px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    cursor: pointer !important;
}

.sred-sidenav-menu-item-active {
    --mdc-list-list-item-container-color: #D9EDFF;
}

.sred-sidenav-menu-item:hover {
    --mdc-list-list-item-container-color: #F6FBFF;
}

.sred-sidenav-menu-item-toggle {
    float: right;
}
.sred-help-mat-card {
    --mdc-outlined-card-container-color: #292929;
}

.sred-help-mat-card-content {
    color: #FFFFFF;
}

.sred-help-mat-card-content > p > a {
    color: #03BCF3;
}

.sred-mat-toolbar {
    padding: 15.5px 32px !important;
    --mat-toolbar-standard-height: 60px;
    --mat-toolbar-mobile-height: 50px;
    --mat-toolbar-container-background-color: #FFFFFF;
    justify-content: flex-end;
}

.sred-mat-toolbar-row {
    padding: 0 !important;
    // --mat-toolbar-standard-height: 60px;
}

.sred-mat-toolbar-search-input {
    width: 300px; 
    margin-left:32px;
}
.sred-mat-toolbar-notification-spacing{
    margin-right: 17px;
}

.active>.app-toolbar-Action {
    background-color: #091836 !important;
    .app-toolbar-Action-Icon{
        color: #FFFFFF !important;
    }
}